@page
@model Web.Pages.MH_XOA_HOA_DON_BANModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Xóa hóa đơn bán</title>
</head>
<body>
    <h3>Xóa</h3>
    Bạn có muốn xóa hóa đơn bán mã: @Model.hoa_don_ban.ma và ngày tạo @Model.hoa_don_ban.ngay_tao_hoa_don.ToShortDateString()
    <br />
    <form method="Post">
        <input type="submit" value="Xóa" />
    </form>
</body>
</html>