@page
@model Web.Pages.MH_XOA_LOAI_HANGModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Xóa loại hàng</title>
</head>
<body>
    <h3>Xóa</h3>
    Bạn có muốn xóa loại hàng @Model.loai_hang.Ten_loai_hang
    <form method="Post">
        <input type="submit" value="Xóa" />
    </form>
</body>
</html>