@page
@model Web.Pages.MH_XOA_SAN_PHAMModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Mặt Hàng</title>
</head>
<body>
    <h3>Xóa Sản Phẩm</h3>
    <form method="POST">
        Bạn có muốn xóa sản phẩm @Model.san_pham.Ten_hang<br />
        <input type="submit" value="Xóa" />
    </form>
</body>
</html>